.audio-player {
  position: relative;
}
.audio-player .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #333;
  cursor: pointer;
}
.audio-player .play-button::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 25px;
  border-color: transparent transparent transparent #333;
}
.audio-player .play-button.playing::after {
  border-width: 0 0 0 25px;
}
.audio-player .audio-element {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}
.audio-player:hover .audio-element {
  opacity: 1;
  pointer-events: auto;
}
