.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  position: relative;
  width: 200px;
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
}

.card img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.card h3 {
  margin-top: 10px;
}

.shop-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.shop-button:hover {
  background-color: #0056b3;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}
.custom-paragraph {
  color: black;
  font-size: 17px;
  margin-top: 5px;
}
