nav {
  background-color: black;
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}
footer {
  margin-top: auto;
  background-color: #333;
  text-align: center;
  color: white;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body {
  margin: 0;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

body {
  background: linear-gradient(90deg, red, blue, #ff0055);
  background-size: 400% 400%;
  animation: change-color 20s ease infinite;
}

@keyframes change-color {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.artists,
.releases {
  display: block;
}

.releases {
  margin-top: 10px;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 10px;
}

.logo img {
  width: 70px;
  height: auto;
}
header h1 {
  padding-left: 50px;
}
header {
  padding-left: 40px;
}
/* Style the button that opens the modal */
#contact-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: blue;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

/* Style the modal */
.modal {
  display: none !important; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Style the modal content */
.modal-content {
  background-color: black;
  color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 5px;
}

/* Style the close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.modalHidden {
  display: none;
}

.modalDisplayed {
  display: block;
}

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  left: 40%;
  top: 20%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

.modalPositioning {
  position: fixed;
  top: 10%;
  left: 25%;
  z-index: 3;
}

.modalStyling {
  width: 60%;
  height: 60%;
  background-color: hotpink;
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
input[type="text"],
input[type="email"],
textarea {
  border: none;
  border-radius: 4px;
  padding: 12px;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 16px;
  background-color: #f1f1f1;
  width: 100%;
}

h1 {
  font-family: fantasy;
}
