.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  background-color: black;
  padding: 20px;
}

.grid-item {
  background-color: #ddd;
  padding: 20px;
  text-align: center;
}
.grid-container > div {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.header {
  grid-column: 1 / span 2;
  text-align: center;
}

.logo {
  grid-area: header; /* Assign grid area to the logo container */
  position: relative;
  overflow: hidden;
}

.logo img {
  max-width: 100px;
}

.menu {
  background-color: #f5f5f5;
  padding: 10px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-items: center;
  grid-gap: 10px;
}

.menu ul li {
  margin-right: 10px;
}

.menu ul li:last-child {
  margin-right: 0;
}

.menu ul li a {
  text-decoration: none;
  color: #333333;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.menu ul li a:hover {
  background-color: #ffffff;
}

.main {
  grid-column: 1 / span 2;
}

.grid-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.grid-item {
  background-color: #dddddd;
  padding: 20px;
  text-align: center;
}
.footer {
  grid-column: 1 / span 2;
  text-align: center;
  background-color: #f5f5f5;
  padding: 20px;
}
.item1 {
  grid-area: header;
}
.item2 {
  grid-area: menu;
}
.item3 {
  grid-area: main;
}
.item4 {
  grid-area: right;
}
.item5 {
  grid-area: footer;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu main main main right right"
    "menu footer footer footer footer footer";
  gap: 10px;
  background-color: black;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
body {
  margin: 0;
  font-family: fantasy;
}
.logo img {
  width: 100%; /* Set the width to 100% to fill the container */
}
