.music-player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: black;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.music-player button {
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  margin-right: 10px;
}

.music-player button:hover {
  color: #ccc;
}

.music-player button.active {
  color: #ccc;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.volume-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.volume-btn i {
  color: #fff;
  font-size: 1.5rem;
}

.music-player .volume-slider {
  display: none;
  position: absolute;
  top: 20%;
  right: 160px;
  width: 80px;
  height: 10px;
  background-color: #666;
  border-radius: 5px;
  transition: all 0.3s ease;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: bottom left;
}
.music-player .volume-btn:hover .volume-slider {
  display: block;
}
.music-player .volume-slider .progress {
  height: 50%;
  background-color: #fff;
  border-radius: 5px;
}

.song-info img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.song-details h4 {
  margin: 0;
  margin-bottom: 0px;
  margin-top: 0px;
}

.song-details p {
  font-size: 0.8rem;
  margin: 0;
  color: #aaa;
}

.music-player .song-details {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  font-size: 14px;
  width: 200px;
}

.music-player .song-details img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.music-player .song-details p {
  margin: 0;
}

.music-player .volume-btn {
  position: relative;
}

.music-player .song-details {
  display: flex;
  align-items: center;
}
.volume-slider {
  display: block;
  margin-left: 100px;
  width: 100px;
  height: 80px;
  border-radius: 5px;
  transition: all 0.3s ease;
  transform: rotate(-90deg);
  transform-origin: bottom left;
}
.volume:hover .volume-slider {
  display: block;
}

.total-duration {
  margin-left: 5px;
  font-size: 18px;
  font-weight: bold;
}

.current-time {
  margin-right: 5px;
  font-size: 18px;
  font-weight: bold;
}
