.music-player .seek-bar {
  flex: 1;
  margin: 10px auto;
  height: 3px;
  width: 30%;
  position: relative;
  background-color: #666;
  border-radius: 5px;
  overflow: hidden;
}

.music-player .seek-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-out;
}

.music-player .seek-bar:hover::before {
  background-color: #fff;
}

.music-player .seek-bar .progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: orange;
  width: 100%;
  border-radius: 5px;
}

.music-player .seek-bar .thumb {
  position: absolute;
  top: -7px;
  left: 0;
  width: 14px;
  height: 14px;
  background-color: gray;
  border: 2px solid #666;
  border-radius: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.music-player .seek-bar:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 10px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
